{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

	<style>
	.column {
	  float: left;
	  width: 33.33%;
	  padding: 5px;
	}

	/* Clear floats after image containers */
	.row::after {
	  content: "";
	  clear: both;
	  display: table;
	}
	</style>

	<h1 align="center">Companies that are hiring! </h1><br>
	<div class="row">
	  <div class="column">
	    <img src="{% static 'img/google.jpg' %}" alt="Google" style="width:50%">
	  </div>
	  <div class="column">
	    <img src="{% static 'img/apple.png' %}" alt="Apple" style="width:40%">
	  </div>
	  <div class="column">
	    <img src="{% static 'img/amazon.jpg' %}" alt="Amazon" style="width:50%">
	  </div>
	</div><br>
	<div class="row">
	  <div class="column">
	    <img src="{% static 'img/microsoft.jpg' %}" alt="Microsoft" style="width:50%">
	  </div>
	  <div class="column">
	    <img src="{% static 'img/cia.png' %}" alt="CIA" style="width:40%">
	  </div>
	  <div class="column">
	    <img src="{% static 'img/fbi.jpg' %}" alt="FBI" style="width:50%">
	  </div>
	</div>

{% endblock %}
