{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/profile.css' %}">
<div class="container emp-profile">
    <form method="post">
        <div class="row">
            <div class="col-md-4">
                <div class="profile-img">
                    <img src="{% static 'img/devin.jpg' %}" alt=""/>
                    <div class="btn btn-primary">
                        Change Photo
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="profile-head">
                            <h5>
                                Devin Dyson
                            </h5>
                            <h6>
                                Blockchain, Web Dev, People Person
                            </h6>
                            <br><br>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2">
                <a href="editprofile/" class="profile-edit-btn">Edit Profile</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="profile-work">
                	<br>
                    <p>INTERESTS</p>
                    <a href="">Technology</a><br/>
                  
                    <a href="">Customer Experience</a><br/>
                </div>
            </div>
            <div class="col-md-8">
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Username</label>
                                </div>
                                <div class="col-md-6">
                                    <p>devin</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Name</label>
                                </div>
                                <div class="col-md-6">
                                    <p>Devin Dyson</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Email</label>
                                </div>
                                <div class="col-md-6">
                                    <p>devin@gmail.com</p>
                                </div>
                            </div>
       
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Education</label>
                                </div>
                                <div class="col-md-6">
                                    <p>Boston University, Bachelor of Science</p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <label>Summary</label>
                                </div>
                                <div class="col-md-6">
                                    <p>I am a happy veteran looking for a job in the tech industry.
                                 I am a Blockchain enthusiast and a web developer as I have enough experience by developing projects recently.<br><br>
                                	I could also work in the customer experience department.<br><br>
                                Lastly, I am a people person so I could also work in the Human Resource department.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>           
</div>
<p style="color:white;">Upload Your Resume:</p>
<input type="file" size="60" />
<br>
<br>
<center>
<embed src="{% static 'img/Resume.pdf' %}" width="800px" height="1100px"/>
</center>

{% endblock %}
