{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
	<link rel="stylesheet" href="{% static 'css/home.css' %}">

	<h2>Veteran Profiles</h2>
	<p>Welcome to Veteran Job Website, {% if user.is_authenticated %} {{ user.username }}{% else %}visitor{% endif %}!</p>
	<p>
		<strong>Total users found: 1</strong>
	</p>
	<section>
	<div class="dropdown">
  	<button onclick="myFunction()" class="btn-danger">Search Veterans by Skills</button>
  	<div id="myDropdown" class="dropdown-content">
	    <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
	    <a href="{% url 'home' %}">Technology</a>
	    <a href="../techprofile/">Accounting</a>
	    <a href="../hr/">Human Resource</a>
	    <a href="../admi/">Administrative</a>
	    <a href="../custprofile/">Customer Experience</a>
  	</div>
	</div>
	<br><br>
    <div class="container container-small">
	    <div class="card flex-row flex-wrap">
	        <div class="card-header border-0">
	            <img src="{% static 'img/keval.PNG' %}" width="150" border-radius= "50%" height="160" alt="">
	        </div>
	        <div class="card-block px-2">
	            <h4 class="card-title">Keval Khara</h4>
	            <p class="card-text">Web Dev, Accounting, People Person</p>
	            <div class="skills">
	              <div class="skill">Technology</div>
	              <div class="skill">Accounting</div>
            	</div>
            	<br>
	            <a href="../profile/" class="btn btn-primary mb-2">Read More</a>
	            
	        </div>
	        <div class="w-100"></div>
	    </div>
	    <br>
	</div>
	<script>
		/* When the user clicks on the button,
		toggle between hiding and showing the dropdown content */
		function myFunction() {
		    document.getElementById("myDropdown").classList.toggle("show");
		}

		function filterFunction() {
		    var input, filter, ul, li, a, i;
		    input = document.getElementById("myInput");
		    filter = input.value.toUpperCase();
		    div = document.getElementById("myDropdown");
		    a = div.getElementsByTagName("a");
		    for (i = 0; i < a.length; i++) {
		        if (a[i].innerHTML.toUpperCase().indexOf(filter) > -1) {
		            a[i].style.display = "";
		        } else {
		            a[i].style.display = "none";
		        }
		    }
		}
	</script>
{% endblock %}

